.func {
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}

.func > h3 > span {
    color: #ffb871;
}

.func .func_param {
    color: #B2B1FF;
}

.func .func_arglabel {
    font-size: 14px;
}

.func_args {
    margin-top: 0px;
    margin-left: 60px;
    text-align: left;
    font-size: 18px;
}

.func_args td {
    font-family: 'Roboto';
    font-size: 16px;
    width: 300px;
}

.func_args td:first-child {
    font-family: 'Courier New', Courier, monospace;
    margin-right: 100px;
    width: 150px;
}

.func_return {
    font-style: italic;
    font-size: 15px;
}

.func_return > span {
    font-style: normal;
}

.func_description {
    font-family: 'Roboto Light';
    font-size: 16px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #55ffff;
}

a:visited {
    color: #FF55FF
}

.const_list {
    margin-top: 0px;
    margin-left: 60px;
    text-align: left;
    font-size: 17px;
}

.const_list td:first-child {
    width: 300px;
}

.const_list td:nth-child(2) {
    font-family: 'Roboto';
    font-size: 16px;
}

#toc {
    margin-left: 50px;
    font-size: 18px;
}

.toc_entry a {
    color: rgb(120, 227, 253);
}