body {
    margin: 0;
    padding: 0;
    background-color: #1E2029;
}

header p {
    font-family: 'Roboto';
    color: #eeeeee;
    padding-left: 60px;
    margin-top: 10px;
}

p {
    font-family: 'Roboto';
    color: #eeeeee;
    padding-left: 30px;
    margin-top: 10px;
    padding-right: 30px;
}

h2 {
    font-family: 'Roboto Thin';
    color: #eeeeee;
}

.first_name {
    font-family: 'Roboto Light';
    color: #E32C2C;
}

#container {
    padding-left: 30px;
    margin: auto;
    max-width: 1500px;
}



.main_banner_wrapper {
    text-align: center;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-top: 20px;
}

.main_banner {
    width: 90%;
    margin: auto;
}

.main_banner_mobile {
    display: none;
}

.main_banner_large {
    display: block;
}


.scroller {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%
}

.scroll_card {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    margin: 30px;
    padding: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-color: #32343B;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.6);
    text-align: center;
}

.scroll_card .fas, .scroll_card .fab {
    font-size: 120px;
    text-align: center;
    color: #DDDDDD;
    padding-top: 15px;
    padding-bottom: 10px;
}

.scroll_card_smol {
    max-width: 270px;
    min-width: 270px;
}

.scroll_card_extra_smol {
    max-width: 150px;
    min-width: 150px;
    height: 230px;
}

h3 {
    color: #FFF;
    font-family: 'Roboto';
}


.scroll_card img {
    width: 100%;
}

.image_text {
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: #FFF;
    font-family: 'Roboto';
    top: 40%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: rotate(-5deg) translate(-50%, -65%);
}


a {
    margin: 0;
    padding: 0;
}

.scroll_card a {
    text-decoration: none;
}
.scroll_card a:hover h3 {
    text-decoration: underline;
    text-decoration-color: #E32C2C;
    color: #E32C2C;
}

#header {
    background-color: #32343B;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    height: 120px;
}

#header a {
    text-decoration: none;
}

#header h1 {
    font-family: 'Roboto Thin';
    font-size: 36px;
    padding-left: 50px;
    padding-top: 20px;
    margin: 0;
    color: #ffffff;
    display: inline-block;
}

#header p {
    font-family: 'Roboto';
    color: #eeeeee;
    padding-left: 60px;
}

#contact_links a {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 50px;
    color: #fff;
}

#contact_links a:hover {
    color: #E32C2C;
}

#contact_links {
    position: absolute;
    top: 30px;
    right: 50px;
}


@media (max-width:720px) {
    #contact_links {
        position: relative;
        padding-bottom: 20px;
        top: 0;
        right: 0;
    }
    
    #header {
        height: 100%;
        text-align: center;
    }
    
    #header h1 {
        padding-left: 0px;
    }
    #header p {
        padding-left: 0px;
    }
    .scroll_card_extra_smol {
        max-width: 120px;
        min-width: 120px;
        height: 200px;
    }
    .scroll_card .fas, .scroll_card .fab {
        font-size: 96px;
    }
}


@media (max-width:500px) {
    .scroll_card {
        min-width: 80%
    }
    .scroll_card_extra_smol {
        max-width: 80px;
        min-width: 80px;
        height: 170px;
        margin: 15px;
    }
    .scroll_card .fas, .scroll_card .fab {
        font-size: 64px;
        padding-top: 0px;
    }
    #container {
        padding-left: 0px;
    }
    
    #container h2 {
        padding-left: 20px;
    }

    .main_banner_mobile {
        display: block;
    }
    .main_banner_large {
        display: none;
    }
}