{
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
    "importOrderSeparation": true
}
