doctype html
html(lang='en')
	head
		include ../analytics.pug
		title Anton Bergåker - The Story Goes On
		meta(name='description', content='Brief overview of my work on The Story Goes On')
		meta(name='keywords', content='programming, programmer, gamedev, gamedevelopment, game, gamemaker, tsgo, tsgogame, the story goes on')
		include ../tags.pug
		style
			include ../css/main.css
	body
		include ../header.pug
		#container
			.main_banner_wrapper
				img.main_banner.main_banner_large(src='../images/banner_tsgo_large.png')
				img.main_banner.main_banner_mobile(src='../images/banner_tsgo_mobile.png')
			.scroll_section
				.scroller
					.scroll_card.scroll_card_extra_smol
						a(href='https://store.steampowered.com/app/369560/The_Story_Goes_On/')
							i.fab.fa-steam
							h3 View on Steam
					.scroll_card.scroll_card_extra_smol
						a(href='https://www.microsoft.com/en-us/p/the-story-goes-on/bpm55kq2gtp3')
							i.fab.fa-xbox
							h3 View on Microsoft Store
					.scroll_card.scroll_card_extra_smol
						a(href='https://www.nintendo.com/games/detail/the-story-goes-on-switch/')
							i.fab.fa-switch
							h3 View on Microsoft Store
					.scroll_card.scroll_card_extra_smol
						a(href='http://tsgogame.com')
							i.fas.fa-globe
							h3 Visit the website
				h2 The Story Goes On
				p
					i
						| “You are the hero inside the storybook of an obsessed author pondering with his life’s work. Explore repeating worlds, befriend a talking scarecrow and swing your sword really fast, while uncovering the true, overarching adventure within.”
				p
					| The Story Goes On was my first project at Scarecrow Arts. I took over as the games Lead Programmer in March 2015 and worked on the project for three years until it's release in March 2018. The game features randomly generated levels, a load of items, a few carefully scripted pre-made dungeons and much more.
				p
					| My role as the Lead Programmer meant I was responsible for implementing all features into the game. This put me in touch with all elements of game development, as everything had to pass through me.
					br
					| 				I was also responsible for bringing the game to Xbox One and I developed multiple internal tools to take over various manual tasks, mostly related to formatting our localization data to the various storefronts and into the game.
		script
			include ../js/main.js
