doctype html
html(lang='en')
	head
		include ../analytics.pug
		title Anton Bergåker - Authentic Native Textbox
		meta(name='description', content='Function list for ANT')
		meta(name='keywords', content='programming, programmer, gamedev, gamedevelopment, game, gamemaker, textbox, ios, android')
		include ../tags.pug
		style
			include ../css/main.css
			include ../css/documentation.css
	body
		include ../header.pug
		include content.pug

		script
			include ../js/main.js
