#container
    h2 Authentic Native Textbox
    p 
        | Authentic Native Textbox creates native textboxes that are overlaid on top of the game. Because of this it's not possible to draw anything over them. 
    p
        | Textboxes are created in code and must be manually cleaned up.
        | Textboxes will automatically launch the virtual keyboard whenever they are pressed and will handle copy/pasting, selections, and other various features you expect in textboxes on the native platforms.
    p
        | To detect if the virtual keyboard is out you cannot use the inbuilt #[a.code(href="https://docs2.yoyogames.com/source/_build/3_scripting/4_gml_reference/controls/virtual%20keys/keyboard_virtual_status.html") keyboard_virtual_status()] as it will not detect if the keyboard was launched by a textbox.
        | However #[a.code(href="https://docs2.yoyogames.com/source/_build/3_scripting/4_gml_reference/controls/virtual%20keys/keyboard_virtual_height.html") keyboard_virtual_height()] works as normal and can be used instead.

    h3 Table of contents
    #toc
        block toc

    block funcs
