.mainPage {
    h2 {
        font-family: 'Roboto Thin' !important;
        color: #eeeeee !important;
    }
    h3 {
        color: #fff !important;
        font-family: 'Roboto' !important;
    }
}
