doctype html
html(lang='en')
	head
		title Anton Bergåker - Pentapop
		meta(name='description', content='Links and other fun stuff about Pentapop, an online gomoku / five in a row')
		meta(name='keywords', content='programming, programmer, gamedev, gamedevelopment, game, gamemaker, five in a row, five, naughts and crosses, gomoku, online')
		include ../tags.pug
		style
			include ../css/main.css
	body
		include ../header.pug
		#container
			.main_banner_wrapper
				img.main_banner.main_banner_large(src='/images/banner_minisweeper_large.png')
				img.main_banner.main_banner_mobile(src='/images/banner_minisweeper_mobile.png')
			.scroll_section
				.scroller
					.scroll_card.scroll_card_extra_smol
						a#app_popup_button
							i.fas.fa-mobile
							h3 Get the app
						.app_popup
							a#app_popup_button
								.app_popup_arrow
									svg(width='100%', height='100%', viewBox='0 0 100 100')
										polygon(points='100, 100, 0,50 100,0', style='fill: #52545B')
							a(href='https://play.google.com/store/apps/details?id=com.AntonBergaker.Pentapop')
								img(src='../images/google_play_badge.png')
							a(href='https://apps.apple.com/us/app/pentapop/id1463884191')
								img(src='../images/app_store_badge.svg')
					.scroll_card.scroll_card_extra_smol
						a(href='/pentapop/play')
							i.fas.fa-globe
							h3 Play in browser
			h2 Pentapop
			p
				| Pentapop is one of my larger projects, trying to make use of the resources I had previously created for miniSweeper.
				| It's a two player board game very similar to Gomoku / Five in a row where you try and get five in a row before the opponent does.
			p
				| The project turned out to be significantly more involved than miniSweeper, featuring both local AI as well as online play with an account system.
				| Due to the modern requirements of online accounts, this is where most of the time was spent. Things like password recovery / password management etc. and other account legal requirements.

			p
				| The client is written in GameMaker making heavy use of extensions, some of which I've published seperately.

			p
				| The server is written in C# and is mostly custom without using many frameworks.
				| Mainly because there's not many frameworks that work well with binary data which is used because it works well with GameMaker and a way to keep costs down.
		script
			include ../js/main.js
			include ../js/appselect.js
