#header
	a(href='../')
		h1
			span.first_name Anton
			|  Bergåker
	p#motto Now without random taglines!
	#contact_links
		a(href='https://twitter.com/DragonCoke')
			i.fab.fa-twitter
		a(href='https://github.com/AntonBergaker')
			i.fab.fa-github
		a(href='mailto:anton@bergaker.com')
			i.fas.fa-envelope
