doctype html
html(lang='en')
	head
		title Anton Bergåker
		meta(name='description', content='Personal website for Anton Bergåker outlining projects and other fun stuff')
		meta(name='keywords', content='programming, programmer, gamedev, gamedevelopment, game, gamemaker')
		include tags.pug
		style
			include css/main.css
	body
		include header.pug
		#container
			.scroll_section
				h2 Projects
				.scroller
					a(class='scroll_card' href='/thestorygoeson')
						img(src='images/tsgo_banner.png', alt='The Story Goes On Banner')
						ul(class='tags')
							li(style='background-color: #1CA972') GameMaker
							li(style='background-color: #0A1C49') Steam
							li(style='background-color: #DE000F') Nintendo Switch
							li(style='background-color: #0F760F') Xbox One
						h3 The Story Goes On
					a(class='scroll_card' href='/pentapop')
						img(src='images/pentapop_banner.png', alt='Pentapop Banner')
						ul(class='tags')
							li(style='background-color: #1CA972') GameMaker
							li(style='background-color: #953DAC') C#
							li(style='background-color: #2B7489') TypeScript
							li(style='background-color: #228B22') Android
							li(style='background-color: #147EFB') iOS
						h3 Pentapop
					a(class='scroll_card' href='/minisweeper')
						img(src='images/minisweeper_banner.png', alt='miniSweeper Banner')
						ul(class='tags')
							li(style='background-color: #1CA972') GameMaker
							li(style='background-color: #228B22') Android
							li(style='background-color: #147EFB') iOS
						h3 miniSweeper
					a(class='scroll_card' href='https://dontsinkgame.com/')
						img(src='images/dont_sink_banner.png', alt="Don't Sink Banner")
						ul(class='tags')
							li(style='background-color: #1CA972') GameMaker
							li(style='background-color: #A10707') Contract Work
							li(style='background-color: #0F760F') Xbox One
						h3 Don't Sink - Xbox Port
					a(class='scroll_card' href='https://github.com/AntonBergaker/SplitTask')
						img(src='images/splittask_banner.png', alt='SplitTask Banner')
						ul(class='tags')
							li(style='background-color: #953DAC') C#
						h3 SplitTask
			.scroll_section
				h2 Other things
				.scroller
					a(class='scroll_card scroll_card_smol' href='http://blog.tsgogame.com/implementing-coop/')
						img(src='images/coop_banner.png')
						ul(class='tags')
							li(style='background-color: #9A117D') Blog Post
							li(style='background-color: #1CA972') GameMaker
						.image_text Implementing Co-op into The Story Goes On
						h3 Implementing Co-op into The Story Goes On
					a(class='scroll_card scroll_card_smol' href='/hangman')
						img(src='images/evil_hangman.png')
						ul(class='tags')
							li(style='background-color: #2B7489') TypeScript
							li(style='background-color: #E34C26') HTML5
						h3 Evil Hangman
					a(class='scroll_card scroll_card_smol' href='https://marketplace.yoyogames.com/assets/8620/android-native-textbox')
						img(src='images/ant.png')
						ul(class='tags')
							li(style='background-color: #1CA972') GameMaker
							li(style='background-color: #FB422D') Extension
						h3 Authentic Native Textbox
					a(class='scroll_card scroll_card_smol' href='https://github.com/AntonBergaker/MinesweeperDiscordBot')
						img(src='images/minesweeper_discord_bot.png')
						ul(class='tags')
							li(style='background-color: #953DAC') C#
						h3 Minesweeper Discord Bot
					a(class='scroll_card scroll_card_smol' href='https://github.com/AntonBergaker/img.bergaker.com')
						img(src='images/image_host.png')
						ul(class='tags')
							li(style='background-color: #2B7489') TypeScript
						h3 Personal video and image host
					a(class='scroll_card scroll_card_smol' href='https://github.com/AntonBergaker/anton.bergaker.com')
						img(src='images/anton_bergaker_com.png')
						ul(class='tags')
							li(style='background-color: #E34C26') HTML5
						h3 anton.bergaker.com

		script
			include js/main.js
