---
import BrandButtonPremade from "../../components/brand_button_premade.astro";
import ProjectPageLayout from "../../components/layouts/project_page.astro";
import Scroller from "../../components/scroller.astro";
import Tags from "../../components/tags.astro";
---

<Tags
    title='Anton Bergåker - VRChat Tower Defense'
    description='Brief information about my VRChat world and links to where you can play it.'
    keywords={[
        "programming",
        "programmer",
        "gamedev",
        "game",
        "vrchat",
        "vr",
        "vrc",
        "unity",
        "unity3d",
        "csharp",
        "td",
        "defence",
    ]}
/>
<ProjectPageLayout>
    <Scroller>
        <BrandButtonPremade
            text='Play it on VRChat'
            brand='vrchat'
            link='https://vrchat.com/home/launch?worldId=wrld_9a51b365-d6cc-42e6-901a-54ceb46b94ef'
        />
    </Scroller>
    <div>
        <h2>Super Tower Defense</h2>
        <p>
            VRChat is pretty cool, so it was only a matter of time until I felt
            the need to make a world for it. Because I have more drive than
            sense sometimes, I made a very very ambitious first project. Even
            though I was a little familiar with using Unity before this project,
            but VRChat has a lot of intricacies, some that make sense and some
            that don't.
        </p>
        <p>
            VRChat doesn't have access to normal Unity C# scripts, instead it
            uses its own graph system of scripting called Udon. Luckily some
            very smart individuals have made{" "}
            <a href='https://github.com/MerlinVR/UdonSharp'> UdonSharp </a>{" "}
            which allows a much more familiar environment for a C# programmer.
        </p>
        <p>
            Even though UdonSharp helps a ton, at the time of making this world
            it still lacked support for inheritance, interfaces and static
            methods. That coupled with VRChat's networking which is very much
            tailored to sync basic objects it was a challenge to set up a
            reliable and somewhat deterministic system to control the world.
        </p>
        <p>
            The project ended up being one of the most popular things I've ever
            made, and I had a lot of fun with it. Especially since VRChat is so
            social it is fun seeing people interact with it.
        </p>
    </div>
</ProjectPageLayout>
