.pageBanner {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    margin: auto;
}

.largeImage,
.mobileImage {
    height: 100%;
}

.largeImage {
    visibility: visible;
    display: block;
    @media (max-width: 600px) {
        visibility: hidden;
        display: none;
    }
}
.mobileImage {
    visibility: hidden;
    display: none;
    @media (max-width: 600px) {
        visibility: visible;
        display: block;
    }
}
