.scrollCardTag {
    text-align: center;
    display: inline-block;
    margin: 4px;
    font-weight: 400;
    color: #fff;
    background-color: white;
    padding: 2px;
    border-radius: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.tagWrapper {
    padding: 4px 8px 4px 8px;
    position: relative;
    display: block;
    border-radius: 15px;
}

.text {
    position: relative;
    z-index: 1;
}

.background {
    --display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
