$radius: 30px;
$small-radius: 20px;

a:hover.scrollCard h3 {
    text-decoration: underline;
    text-decoration-color: #e32c2c;
    color: #e32c2c;
}

.scrollCard {
    flex: 1;
    min-width: 400px;
    max-width: 500px;
    margin: 30px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #225169, #171c1f);
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    text-decoration: none;
    border-radius: $radius;

    display: inline-block;

    .tags {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
        padding: 0;
        margin: auto;
        min-height: 75px;
    }

    .fas,
    .fab {
        font-size: 120px;
        text-align: center;
        color: #121212;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    h3 {
        color: #e7e7e7;
        padding: 10px;
        margin: 0;
        font-weight: 500;
    }

    .imageContainer {
        .imageContent {
            border-radius: $radius $radius 0px 0px;
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 450px) {
        min-width: 80%;
    }
}

.scrollCardSmol {
    max-width: 270px;
    min-width: 270px;
    border-radius: $small-radius;

    .imageContainer {
        .imageContent {
            border-radius: $small-radius $small-radius 0px 0px;
        }
    }

    @media (max-width: 450px) {
        min-width: 80%;
    }
}
