---
//export type ScrollerProps = React.PropsWithChildren<{}>;
---

<style>
    .scroller {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
</style>

<div class='scroller'><slot /></div>
