.scrollCardTag {
    text-align: left;
    display: inline-block;
    display: inline-block;
    margin: 4px 5px 0 5px;
    padding: 2px 8px 2px 8px;
    border-radius: 25px;
    font-family: 'Roboto';
    color: #fff;
}
