doctype html
html(lang='en')
	head
		title Anton Bergåker
		meta(name='description', content='Links and other fun stuff about miniSweeper, a MineSweeper clone')
		meta(name='keywords', content='programming, programmer, gamedev, gamedevelopment, game, gamemaker, minesweeper')
		meta(charset='utf-8')
		// Mobile support
		meta(name='viewport', content='width=device-width, initial-scale=1')
		// Icons
		link(rel='icon', type='image/png', sizes='32x32', href='../favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='256x256', href='../favicon-256x256.png')
		// Material Design fonts
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
		// Font Awesome Icons
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')

		style
			include ../css/main.css
	body
		// BLERGH
		include ../header.pug
		#container
			.main_banner_wrapper
				img.main_banner.main_banner_large(src='../images/banner_minisweeper_large.png')
				img.main_banner.main_banner_mobile(src='../images/banner_minisweeper_mobile.png')
			.scroll_section
				.scroller
					.scroll_card.scroll_card_extra_smol
						a#app_popup_button
							i.fas.fa-mobile
							h3 Get the app
						.app_popup
							a#app_popup_button
								.app_popup_arrow
									svg(width='100%', height='100%', viewBox='0 0 100 100')
										polygon(points='100, 100, 0,50 100,0', style='fill: #52545B')
							a(href='https://play.google.com/store/apps/details?id=com.AntonBergaker.minisweeper')
								img(src='../images/google_play_badge.png')
							a(href='https://itunes.apple.com/us/app/minisweeper/id1363589808')
								img(src='../images/app_store_badge.svg')
					.scroll_card.scroll_card_extra_smol
						a(href='play/')
							i.fas.fa-globe
							h3 Play in browser
					.scroll_card.scroll_card_extra_smol
						a(href='miniSweeper.1.0.9.zip')
							i.fas.fa-desktop
							h3 Download for Windows
					.scroll_card.scroll_card_extra_smol
						a(href='https://github.com/AntonBergaker/miniSweeper')
							i.fab.fa-github
							h3 View on GitHub
			h2 miniSweeper
			p
				| miniSweeper is a small project I made because I was not satisfied with any MineSweeper games on Android.
		script
			include ../js/main.js
			include ../js/appselect.js
